.maxArticleWidth {
    max-width:800px;
}
/* Limit images to this percentage of the max article width
I think images would only ever be smaller than the text section*/
.maxImageWidth {
    max-width:90%
}

.maxImageHeight {
    max-height:500px;
}

.fancytitle {
    font-family: 'Century Gothic';
    color: #111;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 80vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }

body,html {
    font-family:'Segoe UI';
    background-color: lightgray;
    color: #444;
    height: 100%
}
h4 {
    font-family:'Segoe UI';
    color: #444;
}

a:link {
    text-decoration:none;
}
a:hover {
    text-decoration:underline;
}


